.vs/
[Bb]in/
[Oo]bj/
out/
build/
x64/
x86/
ARM/
ARM64/
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.user
*.suo
*.sln.docstates
*.aps
*.ncb
vcpkg_installed

_deps/
googletest-build/
googletest-src/
TestResults/
*.xml

__pycache__/
.idea/
.venv/
venv/
env/
ENV/
*.py[cod]
*$py.class
.pytest_cache/
.python-version
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
Thumbs.db
agent/packages
*.db
*.db-journal
*.nupkg